{% load static %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Email sender</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/login.css'%}" />
        <!--        <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">-->


        <!--For Plugins external css-->
        <link rel="stylesheet" href="{% static 'css/plugins.css'%}" />
        <link rel="stylesheet" href="{% static 'css/roboto-webfont.css'%}" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="{% static 'css/style.css'%}">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="{% static 'css/responsive.css'%}" />

        <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js'%}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		<div class='preloader'><div class='loaded'>&nbsp;</div></div>
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="{% static 'images/logo.png'%}" alt="Logo" /></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#home">Home</a></li>
                        <li><a href="#product">PRODUCT</a></li>
                        <li><a href="#features">Description</a></li>
                        <li><a href="#service">Service</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li class="login"><a href="user/registration/">Sign Up</a></li>
                    </ul>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <!--Home page style-->
        <header id="home" class="home">
            <div class="overlay-fluid-block">
                <div class="container text-center">
                    <div class="row">
                        <div class="home-wrapper">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="home-content">
                                    <h1>Do your email marketing with mail sender</h1>
                                    <p>Email sender transforms your company's email marketing into automatic process so you can focus on what matters to you. Stay in the know, spot trends as they happen, and push your business further.</p>
                                </div>
                                    <div class="container center_div" >
                                        <div class="row">
                                            <div class="col-md-4 col-md-offset-4">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title">Please sign in</h3>
                                                    </div>
                                                        <div class="panel-body">

                                                            <form accept-charset="UTF-8" role="form" action="/user/login/" method="post"> {% csrf_token %}
                                                            <fieldset>
                                                                <div class="form-group">
                                                                    <input class="form-control" placeholder="E-mail" name="username" type="text" required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <input class="form-control" placeholder="Password" name="password" type="password" value="" required>
                                                                </div>
                                                                <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                                                                {% if login_error %}
                                                                <label class="error">{{ login_error }}</label>
                                                                {% endif %}
                                                            </fieldset>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                </header>

        <!-- Sections -->
        <section id="product" class="features sections">
            <div class="container ">
                <div class="row">
                    <div class="main_features_content2">

                        <div class="col-sm-6">
                            <div class="single_features_left text-center">
                                <img src="{% static 'images/feature-2.jpg'%}" alt="" />
                            </div>
                        </div>

                        <div class="col-sm-6 margin-top-60">
                            <div class="single_features_right ">
                                <h2>OUR PRODUCT</h2>
                                <p>Email sender is a unigue tool which will help you to spend more time on creatting things and leave boring job for programm.</p>
                                <ul>
                                    <li>Fast sending the email.</li>
                                    <li>You just need to upload a data.</li>
                                    <li>You just need to prepare the mail.</li>
                                </ul>
                                <div class="features_buttom">
                                    <a href="" class="btn btn-default">Read More</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section><!--End of Features 2 Section -->

        <section id="features" class="features sections">
            <div class="container">
                <div class="row">
                    <div class="main_features_content2">
                        <div class="col-sm-6 margin-top-60">
                            <div class="single_features_right ">
                                <h2>PRODUCT DESCRIPTIONS</h2>
                                <p>Comfortable, user-friendly and easy to use - it all about mail sender</p>
                                    <li>Start with email sender easy.</li>
                                    <li>Work with email sender even easier.</li>
                                    <li>Choose our email service.</li>
                                </ul>
                            </div>
                        </div>
                         <div class="col-sm-6">
                            <div class="single_features_left text-center">
                                <img src="{% static 'images/feature-1.jpg'%}" alt="" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section><!--End of Features 2 Section -->


        <section id="service" class="service2 sections lightbg">
            <div class="container">
                <div class="row">
                    <div class="main_service2">
                        <div class="head_title text-center">
                            <h2>SERVICES WE PROVIDE</h2>
                            <p>Email marketing for sales, recruitment and sharing information.</p>
                        </div>

                        <div class="service_content">
                            <div class="col-md-6 col-sm-6">
                                <div class="single_service2">
                                    <div class="single_service_left">
                                        <img src="{% static 'images/flaticon1.png'%}" alt="" />
                                    </div>
                                    <div class="single_service_right">
                                        <h2>Sales</h2>
                                        <p>Do you sales with powerfull target email marketing.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="single_service2">
                                    <div class="single_service_left">
                                       <img src="{% static 'images/flaticon2.png'%}" alt="" />
                                    </div>
                                    <div class="single_service_right">
                                        <h2>Reacruitment</h2>
                                        <p>Do your recruitment with email service. All you need is the list of candidates.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="single_service2">
                                    <div class="single_service_left">
                                      <img src="{% static 'images/flaticon3.png' %}" alt="" />
                                    </div>
                                    <div class="single_service_right">
                                        <h2>Marketing</h2>
                                        <p>Do you marketing with email service.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="single_service2">
                                    <div class="single_service_left">
                                        <img src="{% static 'images/flaticon4.png'%}" alt="" />
                                    </div>
                                    <div class="single_service_right">
                                        <h2>No spam</h2>
                                        <p>Just don't do spamming.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End of Service2 Section -->

        <section id="contact" class="contact sections">
            <div class="container">
                <div class="row">
                    <div class="main_contact whitebackground">
                        <div class="head_title text-center">
                            <h2>GET IN TOUCH</h2>
							<p> Please contact us to get a free tour and use email tool. We are open to feedback and expect your questions</p>
                        </div>
                        <div class="contact_content">
                            <div class="col-md-6">
                                <div class="single_left_contact">
                                    <form action="#" id="formid">

                                        <div class="form-group">
                                            <input type="text" class="form-control" name="name" placeholder="first name" required="">
                                        </div>

                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" placeholder="Email" required="">
                                        </div>


                                        <div class="form-group">
                                            <textarea class="form-control" name="message" rows="8" placeholder="Message"></textarea>
                                        </div>

                                        <div class="center-content">
                                            <input type="submit" value="Submit" class="btn btn-default">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single_right_contact">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>

                                    <div class="contact_address margin-top-40">
                                        <span>1600 Pennsylvania Ave NW, Washington,</span>
                                        <span>DC 20500, United States of America.</span>
                                        <span class="margin-top-20">T: (202) 456-1111</span>
                                        <span>M: (202) 456-1212</span>
                                    </div>

                                    <div class="contact_socail_bookmark">
                                        <a href=""><i class="fa fa-facebook"></i></a>
                                        <a href=""><i class="fa fa-twitter"></i></a>
                                        <a href=""><i class="fa fa-google"></i></a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End of Contact Section -->



        <!--Footer-->
        <footer id="footer" class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-wrapper">

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-brand">
                                <img src="{% static 'images/logo.png'%}" alt="logo" />
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="copyright">
                                <p>Made with <i class="fa fa-heart"></i> by <a target="_blank" href="http://bootstrapthemes.co"> Bootstrap Themes </a>2016. All rights reserved.</p>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </footer>


		<div class="scrollup">
			<a href="#"><i class="fa fa-chevron-up"></i></a>
		</div>


        <script src="{% static 'js/vendor/jquery-1.11.2.min.js'%}"></script>
        <script src="{% static 'js/vendor/bootstrap.min.js'%}"></script>

        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/modernizr.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
