{% extends 'base.html' %}

    {% block content %}
    <div class="air-card air-card m-0-left m-0-top p-0-top-bottom" style="margin-top: 15px;">
    <div class="container">
        <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                {{ error|escape }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endif %}

                <p class="h4 text-center mb-4">Change password</p>

                <!-- Inpun Old password -->
                <div>
                    <label for=id_old_password" class="grey-text">Old password:</label>
                    <input type="password" class="form-control" name="old_password" autofocus required placeholder="Old password">
                    <div class="password-background"></div>
                </div>
                <!-- Default New password-->
                <div>
                    <label for=id_new_password1" class="grey-text">New password</label>
                    <input type="password" class="form-control" name="new_password1" placeholder="New password">
                    <div class="password-background"></div>
                </div>
                <!-- Default input subject -->
                <div>
                    <label for=id_new_password2" class="grey-text">Confirm password</label>
                    <input type="password" class="form-control" name="new_password2" placeholder="Confirm password">
                    <div class="password-background"></div>
                </div>
                <div class="text-center" style="margin-top: 15px;">
                    <button class="btn btn-outline-info btn-rounded waves-effect " type="submit">Save </button>
                </div>
            </div>
        </div>
        </form>
    </div>
    </div>
        {% endblock %}
