<html>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        {% block content %}
            <h1>Edit Profile</h1>
            <form method="POST" class="form-group">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
                <a href="/user/password/"><button type="submit" class="save btn btn-default">Change the password</button></a>

            </form>
        {% endblock %}
    </body>
</html>
