<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </head>
    {% block login %}
        {% if not user.is_authenticated %}
            <div class="container" style="margin-top:30px">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>Sign In </strong></h3></div>
                        <div class="panel-body">
                            <form action="/user/login/" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Username</label>
                                    <input type="text" name="username" id="username">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="text" name="password" id="password">
                                </div>
                                {% if login_error %}
                                    <label class="error">{{ login_error }}</label>
                                {% endif %}
                                    <input class="button" type="submit" value="Login">
                                    <div class="label round secondary"><a href="/user/registration/">Registration</a></div>
                                {% else %}
                                    Welcome {{ user.email }}
                                    <p>You are already logged in!</p>
                                    <a href="/jobs/">Job</a>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    {% endblock %}
</html>