<!DOCTYPE html>
<html lang="en">

  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Mail Sender</title>

      <!-- Load CSS and directory with css file -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" >
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
      <!--link rel="stylesheet" href="{% static 'web/css/index.css' %}" -->

  </head>

  <body>


      <!-- 1) class to make background picture -->

    <div class="view" style="background-image: url('http://www.kinyu-z.net/data/wallpapers/226/1497157.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;
         height: 850px; display: block;">

      <!-- Navbar parametrs -->
     <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">OUR LOGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
            <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">About<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="user/login">Log in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="user/registration/">Register</a>
      </li>
    </ul>
      </div>
     </nav>

        <!-- Content in index page -->
      <div class="mask rgba-gradient d-flex justify-content-center align-items-center" >
        <div class="container">
          <div class="row">
            <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft animated" data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeInLeft; animation-delay: 0.3s;">
              <h1 class="h1-responsive font-weight-bold mt-sm-5">BEST MAIL SENDER </h1>
              <hr class="hr-light">
              <h6 class="mb-4">Special app to make automatic mail sending by your email</h6>
                <a href="user/login"><button type="button" class="btn btn-primary" style="text-align: center;">TRY IT</button></a>
            </div>
            <div class="col-md-6 col-xl-5 mt-xl-5 wow fadeInCentre animated" data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeInCentre; animation-delay: 0.3s;">
                <!-- image in center of index page -->
                <img src="http://www.clker.com/cliparts/W/j/m/3/u/z/email-icon-hi.png" alt="" class="img-fluid" style="height: 250px; width: 250px">
            </div>
          </div>
        </div>
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </body>
</html>
