{% extends 'base.html' %}

    {% block content %}


    <div class="air-card air-card m-0-left m-0-top p-0-top-bottom" style="margin-top: 15px;">
        <div class="container">
            <div class="p-3 mb-2 bg-info text-white">
                <h2 > {{ job.title }}</h2>
            </div>
            <div class="row">
                <div class="col-md-8" style="border-right: 1px solid #9a9a9a">
                    <div class="m-0-top m-0-right">
                        <div class="container text-center">
                            <h4> Text of the email</h4>
                        </div>
                        <div class="container text-center">
                            <p> {{ job.email_text|linebreaksbr }} </p>
                        </div>
                        <div class="container text-center">
                           </a><button type="submit" class="btn btn-outline-info btn-rounded waves-effect"><a href="edit">Edit text</a></button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">

                    <ul class="m-sm-right" style="margin-top: 25px;">
                        <small class="text-muted">  Created:</small>
                        <p>{{ job.created_at }} </p>
                        <small class="text-muted"> Updated:  </small>
                        <p> {{ job.updated_at }} </p>
                    </ul>
                    </div>
                </div>

            </div>
            <div class="container" style="margin-top: 25px; border-top: 1px solid #9a9a9a;">
                <h4 style="margin-top: 25px;"> Sending to emails:</h4>
            </div>
            <div class="container" style="margin-top: 15px;">
                <div class="container">
                <table class="table table-condensed text-center">
                    <thead>
                        <tr class="text-info">
                            <th>First name</th>
                            <th>Last name</th>
                            <th>E-mail</th>
                        </tr>
                    </thead>
                    <tbody>
                       {% for email in job.emails.all %}
                            <tr>
                              <td>{{ email.first_name }}</td>
                              <td>{{ email.last_name }}</td>
                              <td>{{ email.email }}</td>
                              <td> <a href="edit_email/{{ email.id }}" type="button" class="btn btn-default">Edit Email</a></td>
                              <td><a type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Delete</a>

                                             <form method="POST" action="/jobs/{{ job.id }}/{{ email.id }}/delete/"> {% csrf_token %}
                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal" role="dialog">
                                      <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h4 class="modal-title">Confirmation deleting.</h4>
                                          </div>
                                          <div class="modal-body">
                                              <p>You want to delete the {{ email.email }}?</p>
                                          </div>
                                          <div class="modal-footer">
                                              <input type="submit" value="Confirm" class="btn btn-warning">

                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                          </div>
                                        </div>

                                      </div>
                                    </div>
                                    </form>
                            </tr>
                        {%  endfor %}
                    </tbody>
                </table>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <a href="add_email/"><button type="button" class="btn btn-outline-info btn-rounded waves-effect" data-dismiss="modal">Add Emails</button></a>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-outline-info btn-rounded waves-effect">Upload .csv</button>
                    </div>
                    <div class="col-md-4">
                        <form action="{{ request.build_absolute_uri }}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="file" name="file"/>
                            <input type="name", name="filename"/>
          <div>
          <input type="submit" value="Upload File" />
              </div>
</form>
                    </div>
                </div>
            </div>
    </div>

    {% endblock %}
