{% load staticfiles %}
<html>
    <head>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

</head>
    <body>
    <a href="create" type="button" class="btn btn-default">Сreate</a>
            <nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">List of the jobs</span>

</nav>
     <table class="table table-hover">
            {% for job in jobs %}
<tr>
      <td scope="col">{{ job.title }}</td>
       <td> <a href="{{ job.id }}/delete" type="button" class="btn btn-default">Delete</a>
       <a href="{{ job.id }}/edit" type="button" class="btn btn-default">Edit</a></td>
                </tr>
{% endfor %}
</table>
    </body>
</html>