{% extends 'base.html' %}

    {% block content %}


        <div class="container-fluid" style="margin-top: 15px;">

            <!-- Navbar for jobs. With search -->
            <nav class="navbar navbar-light bg-light">
                <span class="navbar-brand mb-0 h1 indigo-text">List of the jobs</span>
                <a href="create" type="button" class="btn btn-success"><strong>+ Сreate new job</strong> </a>
                <form type="GET" action='' style="margin: 0" >
                    <input type="text" name="q"  placeholder="Search..." value="{{ request.GET.q }}"/>
                    <input type="submit" class="btn btn-primary" value="Search" />
                </form>
            </nav>

            <table class="table table-hover">

            <!-- Pagination of job list -->
            <div class="container-fluid" style="margin-top: 15px;">
                <nav aria-label="pagination example">
                    <ul class="pagination pagination-circle pg-blue mb-0">
                    <!--Arrow left-->
                    <li class="page-item disabled">
                        <a class="page-link" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                            {% if jobs.has_previous %}
                                <a href="?page={{ jobs.previous_page_number }}"></a>
                            {% endif %}
                        </a>
        </li>

        <!--Numbers-->
        <li class="page-item active"><a class="page-link">1</a></li>
        <li class="page-item"><a class="page-link">2</a></li>
        <li class="page-item"><a class="page-link">3</a></li>
        <li class="page-item"><a class="page-link">4</a></li>
        <li class="page-item"><a class="page-link">5</a></li>

        <!--Arrow right-->
        <li class="page-item">
            <a class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>

        <!--Last-->
        <li class="page-item"><a class="page-link">Last</a></li>

    </ul>
</nav>
            </div>

                        </li>

                    {% for num in jobs.paginator.page_range %}
                        {% if jobs.number == num %}
                    <strong>{{ num }}</strong>
                        {% elif num > jobs.number|add:'-3' and num < jobs.number|add:'3' %}
                            {{ num }}
                        {% endif %}
                    {% endfor %}
                    {% if jobs.has_next %}
                        <a href="?page={{ jobs.next_page_number }}"> > </a>
                    {% endif %}
                </div>


         {% for job in jobs %}

    <tr>
       <td scope="col"><a href="{{ job.id }}">{{ job.title }}</a></td>
       <td>{{ job.created_at }}</td>
       <td><a type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Delete</a>

           <form method="POST" action="/jobs/{{ job.id }}/delete/"> {% csrf_token %}
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Confirmation deleting.</h4>
        </div>
        <div class="modal-body">
            <p>You want to delete the {{ job.title }}?</p>
        </div>
        <div class="modal-footer">
            <input type="submit" value="Confirm" class="btn btn-warning">

          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
  </form>
      <a href="{{ job.id }}/edit" type="button" class="btn btn-default">Edit</a></td>
    </tr>
         {% endfor %}
    </table>
    </div>

    {% endblock %}
