{% extends 'base.html' %}

{% block content %}

    <div class="air-card air-card m-0-left m-0-top p-0-top-bottom" style="margin-top: 15px;">
        <div class="container">
            <div class="p-3 mb-2 bg-info text-white">
                <h2> {{ job.title }}</h2>
            </div>
            <div class="row">
                <div class="col-md-8" style="border-right: 1px solid #9a9a9a">
                    <div class="m-0-top m-0-right">
                        <div class="container text-center">
                            <h4> Text of the email</h4>
                        </div>
                        <div class="container text-center">
                            <p> {{ job.email_text|linebreaksbr }} </p>
                        </div>
                        <div class="container text-center">
                            <a href="edit">
                                <button type="submit" class="btn btn-outline-info btn-rounded waves-effect">Edit text
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="m-sm-right" style="margin-top: 25px;">
                        <small class="text-muted"> Created:</small>
                        <p>{{ job.created_at }} </p>
                        <small class="text-muted"> Updated:</small>
                        <p> {{ job.updated_at }} </p>
                    </ul>
                </div>
            </div>
        </div>
              <div class="container" style="margin-top: 0px;">
                  <div class="container">
                  <table class="table table-condensed text-center">
                  </tr>
                      <td><h4> Sending to emails:</h4></td>
                      <td><button class="btn btn-primary btn-sm" data-toggle="modal"data-target="#AddEmailModal" >Add Email</button></td>
                      <td><a href="export"><button type="submit" class="btn btn-primary btn-sm">Export all emails.csv</button></a></td>
                      <td><form enctype="multipart/form-data" method="post" action="/jobs/{{ job.id }}/upload/"> {% csrf_token %}
                                <button class="btn btn-primary btn-sm"><input type="file" name="file"/></button>
                                <button class="btn btn-primary btn-sm"><input type="submit" value="Upload file" /></button>
                          </form></td>
                  </tr>
                  </table>
                  </div>
              </div>
        <div class="container" style="margin-top: 15px;">
            <div class="container">
                <table class="table table-condensed text-center">
                    <thead>
                    <tr class="text-info">
                        <th>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="?order_by=first_name">First Name ▲</a>
                                <a href="?order_by=-first_name">▼</a>
                            </div>
                        </th>
                        <th>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="?order_by=last_name">Last Name ▲</a>
                                <a href="?order_by=-last_name">▼</a>
                            </div>
                        </th>
                        <th>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a href="?order_by=email">Email ▲</a>
                                <a href="?order_by=-email">▼</a>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    <div class="pagination">

                        {% if emails.has_previous %}

                            <a href="?page={{ emails.previous_page_number }}"> < </a>

                        {% endif %}

                        {% for num in emails.paginator.page_range %}

                            {% if emails.number == num %}

                                <strong>{{ num }}</strong>

                            {% elif num > emails.number|add:'-3' and num < emails.number|add:'3' %}

                                {{ num }}

                            {% endif %}

                        {% endfor %}

                        {% if emails.has_next %}

                            <a href="?page={{ emails.next_page_number }}"> > </a>

                        {% endif %}

                    </div>

                    {% for email in emails %}
                        <tr>
                            <td>{{ email.first_name }}</td>
                            <td>{{ email.last_name }}</td>
                            <td>{{ email.email }}</td>
                            <td><a href="edit_email/{{ email.id }}" type="button" class="btn btn-default">Edit Email</a>
                            </td>
                            <td><a type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Delete</a>

                                <form method="POST" action="/jobs/{{ job.id }}/{{ email.id }}/delete/"> {% csrf_token %}
                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Confirmation deleting.</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p>You want to delete the {{ email.email }}?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <input type="submit" value="Confirm" class="btn btn-warning">

                                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                                        Close
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
                <!-- modal view for add email -->
                <form method="POST" class="form-group" action="/jobs/{{ job.id }}/add_email/"> {% csrf_token %}
                    <div class="modal fade" id="AddEmailModal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Add email: </h4>
                                </div>
                                <div class="modal-body">

                                    {{ form.as_p }}

                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-outline-info" type="submit">Save<i
                                            class="fa fa-paper-plane-o ml-2"></i></button>
                                    <button type="button" class="btn btn-outline-info" data-dismiss="modal">Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

{% endblock %}

