{% extends 'base.html' %}


        {% block content %}
            <div class="air-card air-card m-0-left m-0-top p-0-top-bottom" style="margin-top: 15px;">
                <div class="container">
                    <div class="p-3 mb-2 bg-info text-white">
                        <h3> Create new job</h3>
                    </div>
                    <form method="POST" class="form-contol">{% csrf_token %}
                <!-- Title of job-->
                        <div>
                            <label for="title"><strong>Job Title:</strong></label>
                            <input type="text" class="form-control" name="title" autofocus required
                            placeholder="Type job's title...">
                        </div>
                <!-- Message if job-->
                        <div>
                            <label for="massage" ><strong>Text of email:</strong></label>

                            <textarea type="text" class="form-control" name="email_text" rows="8"
                            placeholder="Type message, what you want to send..."></textarea>
                        </div>
                        <div class="text-center" style="margin-top: 15px;">
                            <button type="submit" class="btn btn-outline-info btn-rounded waves-effect">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        {% endblock %}
